### Symfony ###
APP_ENV=dev
APP_SECRET=change_me

### Database ###
DATABASE_URL="postgresql://user:password@127.0.0.1:5432/vehicle_db"

### Mailer ###
MAILER_DSN=null://null

### Messenger ###
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
