@import "tailwindcss";
html, body {
    height: 100%;
}

.layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

body {
    background-color: #ffffff;
    color: #040404;
}
main{
margin-top: 70px;
}
footer
{
    margin: 3rem;
}
