@import "tailwindcss";
html, body {
    height: 100%;
}

.layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

body {
    background-color: #ffffff;
    color: #040404;
}
main{
margin-top: 70px;
}
footer
{
    margin: 3rem;
}
.carousel-fullscreen {
    position: fixed !important;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    z-index: 9999;
    padding: 40px;
    overflow-y: auto; /* IMPORTANT */
}
.carousel-fullscreen {
    overflow-y: auto;
}

.carousel-fullscreen img {
    max-height: none;
    object-fit: contain;
}
